* {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

header {
    width: 100%;
    text-align: center;
    background-color: rgb(43, 74, 123);
    padding: 10px;
}
h1, h3 {
    color: aliceblue;
}
.avatar {
    width: 300px;
}
hr {
    width: 100%;
    margin: 0 auto;
    border: 2px solid rgb(32, 49, 88);
  }

main {

    padding: 10px;
}
summary {
    padding-left: 20px;
}
.form {
  width: 300px;
  background: rgb(47,45,83);
background: linear-gradient(90deg, rgba(47,45,83,1) 0%, rgba(108,108,232,1) 42%, rgba(43, 74, 123) 100%);
  border: 1px dashed black;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  color: aliceblue;
}
.form__message_area {
 width: 200px; 
 height: 100px;
 border-radius: 15px;  
 color: #7898e1;
}
.form__message_button {
margin-top: 5px; 
transition-duration: 0.4s;
background-color:rgb(136, 159, 215);
line-height: 10px;
}
.background {
    background: url("https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")center/cover no-repeat;
    background-size: cover;
    max-width: 100%;
    padding: 0px;
    height: 300px;
    opacity: 0.4;
    }

footer {
    margin: 20px;
    text-align: center;
    padding: 20px;
}
.link {
    display: inline-block;
    margin: 20px;
}
a {
text-decoration: none;
color: aliceblue;
}
button {
    padding: 5px;
    text-align: center;
    background-color:rgb(43, 74, 123);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
button:hover {
    background-color: #7898e1;
  color: rgb(3, 1, 1);
}
